.center {
    text-align: center;
    width: 50vw;
    margin: auto;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.top-center {
    text-align: center;
    width: 80vw;
    margin: auto;
    padding-top: 10vh;
    padding-bottom: 5vh;
}

/* every body should have this font now */
body {
    font-family: 'SUSE';
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: white;
}

/* <a href="https://www.freepik.com/free-photo/3d-geometric-abstract-background_27606422.htm#fromView=search&page=1&position=51&uuid=3ba7a935-40f4-490e-b508-63bff5790927">Image by kjpargeter on Freepik</a> */

#pfp {
    width: 20vw;
    border: 2px #626F86 solid;
}


.pointer-hover:hover {
    filter: brightness(75%);
}

.button {
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    border: none;
}

.tab-buttons {
    display: flex;
    position: relative;
    justify-content: center;
    margin-bottom: 5%;
    gap: 2%;
}


.box-bg {
    border: #626F86 solid;
    border-radius: 30px;
    padding: 0px 20px 0px 20px;
}

.box-content {
    text-align: justify;
}

.box-icons {
    display: flex;
    /* flex-direction: row; */
    margin-bottom: 10px;
    gap: 5px;
}


ul {
    margin-left: -10px;
    margin-top: -10px;
}

#top-container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#skills-container {
    display: flex;
    gap: 15px;
}

.img-50px {
    width: 50px;
}

#projects-text-container {
    display: flex;
    position: relative;
    align-items: flex-start;
}

#pfp-div {
    position: absolute;
    /* align-self: center; */
    margin-left: 50%;
    /* align-self: flex-end; */
}

#pfp {
    /* position: absolute; */
    height: 100%;
    width: 14vw;
    border-radius: 30px;
}

#title-div {
    /* position: absolute; */
    margin-right: 40%;
    text-align: left;
}

#top-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50px;
    background: #8590A2;
    border-bottom: 5px solid #626F86;
    z-index: 1;
}

#header-div {
    /* justify-content: space-evenly; */
    /* align-items: ; */
    /* display: flex; */
    /* align-items: flex-end; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    width: 35%;
    margin-right: 2%;
    /* text-decoration: none; */
    /* color: white; */
}

.header-text {
    color: white;
    text-decoration: none;
}

.spacing-one {
    margin-top: 5%;
}

#spacing-two {
    margin-top: 12%;
}

#spacing-three {
    margin-top: 30%;
}

.titles-jump {
    display: block;
    height: 75px;
    margin-top: -75px;
    visibility: hidden;
}

.projects-div-body {
    margin: 3%;
    text-align: left;
}

.experience-div-body {
    margin: 3%;
    text-align: left;
}

.img-container img {
    width: 40%;
    object-fit: contain;
}

.img-container-sheriff img {
    width: 15%;
    object-fit: contain;
}

.img-container-uop img {
    width: 15%;
    object-fit: contain;
}

.about-me-color {
    font-weight: 600;
    color: #0055CC
}